<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.master.BookDao">
    <select id="selectById" resultType="com.pojo.Book">
        select * from book
        where id =#{id}
    </select>

    <select id="getCount" resultType="java.util.Map">
        select count(0) as sumNum ,sum(id) as idSum from book
        where id> #{id}
    </select>
</mapper>